.field-content {
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    strong {
        padding: 5px;
        font-size: 14px;
    }
}

.header-text {
    font-size: 18px;
}
