<div class="col-xs-12 height-100-pc status-container">
    <div class="title">
        <label-translation
            [keyword]="'Open_Invoice_Status_Data__Open_Invoice_Status'"
        ></label-translation>
    </div>

    <div class="content" *ngIf="displayItems">
        <div class="row-item mb-2">
            <div>
                <label-translation
                    [keyword]="'Open_Invoice_Status_Data__Total_Invoice'"
                ></label-translation>
            </div>
            <div class="value">{{ displayItems?.TotalInvoice || 0 }}</div>
        </div>
        <div class="row-item mb-2">
            <div>
                <label-translation
                    [keyword]="'Open_Invoice_Status_Data__Total_Open_Invoice'"
                ></label-translation>
            </div>
            <div class="value">{{ displayItems?.TotalOpenInvoice || 0 }}</div>
        </div>
        <div class="row-item mb-2">
            <div>
                <label-translation
                    [keyword]="'Open_Invoice_Status_Data__Total_Open_Amount'"
                ></label-translation>
            </div>
            <div class="value">
                {{ displayItems?.TotalOpenInvoiceAmount || "" }}
            </div>
        </div>
        <div class="row-item mb-2">
            <div>
                <label-translation
                    [keyword]="
                        'Open_Invoice_Status_Data__Highest_Reminder_Level'
                    "
                ></label-translation>
            </div>
            <div class="value">{{ displayItems?.HighestReminder || 0 }}</div>
        </div>
    </div>
</div>
