.business-cost-form {
  float: left;
  width: 100%;
}

.xn-wj-ddl {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}

.label-company-selected {
  padding-top: 0 !important;
  margin-top: -2px !important;
}

.disabled {
  cursor: not-allowed;
}
