.group-info {
  border: 1px dashed #62a0d6;
  margin-top: 25px;
  padding-bottom: 10px !important;
}

.xn__form-header {
  margin-top: -16px;
}

.xn__form-header span:first-child {
  background-color: white;
}
