@import "~sass_files/color.scss";

.pdf-body {
    height: 100%;
    display: flex;
    flex-direction: row;
}
.pdf-item-zone {
    min-width: 220px;
    max-width: 220px;
    transition: min-width 0.2s, max-width 0.2s;
}
.pdf-item-zone-collapse {
    min-width: 0 !important;
    max-width: 0 !important;
    transition: min-width 0.2s, max-width 0.2s;
}
.pdf-list {
    height: calc(100% - 38px);
}
.pdf-view {
    min-width: 500px;
    height: 100%;
}
.sav-send-letter-collapse-zone {
    max-width: 8px;
    min-width: 8px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1px;

    .fa {
        font-size: 16px;
    }
}
.pdf-view-wrap {
    width: 100%;
}
.item-text-length {
    padding: 10px;
}
.pdf-item {
    cursor: pointer;
    padding: 10px 5px;
    margin-top: 3px;
    border-left: 4px solid;
    position: relative;
}
.item-text {
    padding: 3px 0;
    display: flex;
}
.item-text-title {
    text-align: right;
    white-space: nowrap;
    min-width: 84px;
    max-width: 84px;
}
.item-text-content {
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.item-icon-action {
    position: absolute;
    bottom: 5px;
    right: 5px;
    cursor: pointer;
    color: $red;
    display: none;
}
.wj-viewer {
    width: 100%;
    display: block;
}
.wj-toolbar {
    display: flex;
}
@media (min-width: 2100px) {
    .wj-viewer {
        height: 1100px;
    }
}
