.data-entry__order-summary {
    height: 100%;
}

.order-summary_search-grid {
}

.summary-command__button {
    padding-left: 10px;
    font-size: 18px;
}

.summary-command__date-label {
    text-align: right;
    line-height: 30px;
}

.summary-command__date {
    height: 34px;
}
