.btn-media-code-disable {
  color: rgb(60, 141, 188);
  background-color: #e5e5e5;
  border-color: #e5e5e5;
  opacity: 1;
}

.btn-media-code-disable:hover {
  color: rgb(60, 141, 188) !important;
  background-color: #e5e5e5;
  border-color: #e5e5e5;
  opacity: 1;
}
