#gp {
  margin-bottom: 20px;
}

:host ::ng-deep {
  .grp-preview {
    border: 2px solid #1f2667;
    padding: 2px;
    border-radius: 6px;
  }
}

.container-gradient {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.width-gradient {
  width: 450px;
}

.direction-gradient,
.type-gradient {
  padding: 10px;
}

.row {
  width: 100%;
  //max-width: 76rem;
  margin: 0 auto;
}

.row:before,
.row:after {
  content: ' ';
  display: table;
}

.row:after {
  clear: both;
}

@media only screen and (max-width: 770px) {
  .row .row {
    width: auto;
    margin-left: -1rem;
    margin-right: -1rem;
    max-width: none;
  }
}

.row .row:before,
.row .row:after {
  content: ' ';
  display: table;
}

.row .row:after {
  clear: both;
}

.header-app {
  position: relative;
  height: 280px;
  -webkit-animation: header 1800ms cubic-bezier(0.8, 0, 0.2, 1);
  animation: header 1800ms cubic-bezier(0.8, 0, 0.2, 1);
}

.header-app__background-transparent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, #ccc 25%, transparent 25%),
    linear-gradient(-45deg, #ccc 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #ccc 75%),
    linear-gradient(-45deg, transparent 75%, #ccc 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
  z-index: 1;
}

.header-app__background-color {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //background-image: -webkit-gradient(linear, left top, right top, from(#000046), color-stop(#4F1C96), color-stop(33%), to(#1CB5E0));
  //background-image: linear-gradient(90deg, #000046 0%, #4F1C96, 33%, #1CB5E0 100%);
  z-index: 2;
}

@-webkit-keyframes header {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 0;
  }
  15% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
  }
}

@keyframes header {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 0;
  }
  15% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
  }
}

.panel-app {
  position: relative;
  //max-width: 74rem;
  //margin: -50px auto 0;
  z-index: 3;
  -webkit-animation: panel 1600ms ease-in-out;
  animation: panel 1600ms ease-in-out;
}

@-webkit-keyframes panel {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px) scale(0.9);
    transform: translateY(20px) scale(0.9);
  }
  60% {
    opacity: 0;
    -webkit-transform: translateY(20px) scale(0.9);
    transform: translateY(20px) scale(0.9);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
  }
}

@keyframes panel {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px) scale(0.9);
    transform: translateY(20px) scale(0.9);
  }
  60% {
    opacity: 0;
    -webkit-transform: translateY(20px) scale(0.9);
    transform: translateY(20px) scale(0.9);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
  }
}

.app-gradient {
  position: relative;
  height: 112px;
  border-bottom: 1px solid #dfe1e6;
  padding: 28px 32px;
  background: #fff;
  border-top: 1px solid #dfe1e6;
}

@media (min-width: 76rem) {
  .app-gradient {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid #dfe1e6;
  }
}

.app-color {
  padding: 16px 8px 20px;
  background: #fff;
}

@media (min-width: 76rem) {
  .app-color {
    //border: 1px solid #DFE1E6;
    border-top: none;
    min-height: 68px;
  }
}

.app-gradient__color {
  width: 100%;
  height: 44px;
  border: 2px solid #1f2667;
  padding: 2px;
  border-radius: 6px;
}

.app-gradient__color-background {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#020024),
    color-stop(#090979),
    color-stop(35%),
    to(#00d4ff)
  );
  background: linear-gradient(90deg, #020024 0%, #090979, 35%, #00d4ff 100%);
}

.app-color input {
  height: 42px;
  padding: 0 8px;
  border: 1px solid #bbbfc5;
  border-radius: 6px;
  -webkit-transition: all 175ms ease-out;
  transition: all 175ms ease-out;
  text-align: center;
}

.app-color input:focus {
  border: 1px solid #1f2667;
  -webkit-box-shadow: 0 0 0px 1.5px #1f2667;
  box-shadow: 0 0 0px 1.5px #1f2667;
}

//.panel-code {
//    margin-top: 32px
//}

.code-editor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #161a42;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.code-editor__column {
  display: none;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40px;
  flex: 0 0 40px;
  height: 100%;
  border-top-left-radius: 4px;
  background: rgba(255, 255, 255, 0.05);
}

@media only screen and (min-width: 770px) {
  .code-editor__column {
    display: block;
  }
}

.code-editor__column-tabs {
  width: 100%;
  height: 48px;
}

.code-editor__column-numbers {
  padding: 17px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.25);
  font-size: 12px;
  font-family: monospace;
  font-weight: bold;
  line-height: 24px;
}

.code-editor__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: hidden;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.code-editor__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 48px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: rgba(0, 0, 0, 0.5);
}

.code-editor__tab {
  height: 48px;
  line-height: 48px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 0 24px;
  color: rgba(255, 255, 255, 0.35);
}

.code-editor__tab.is-active {
  height: 48px;
  background: #161a42;
  color: #fff;
  border-top-left-radius: 4px;
}

.code-editor__compat {
  font-weight: bold;
  margin-left: auto;
  margin-right: 1em;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.code-editor__input {
  color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
  padding: 16px 24px;
  line-height: 1.5;
}

.code-editor__input-code .blue {
  color: #00d4f0;
}

.code-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 56px;
  background: #45496d;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.code-option__button {
  position: relative;
  background: #45496d;
  border: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 100%;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 175ms ease-out;
  transition: all 175ms ease-out;
  overflow: hidden;
}

.code-option__button span {
  position: relative;
  z-index: 2;
}

.code-option__button .code-option__button-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: blue;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.code-option__button:hover {
  color: white;
}

.code-option__button:hover .code-option__button-bg {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.code-option__button-svg {
  position: relative;
  top: 3px;
  margin-right: 5px;
  opacity: 0.6;
}

@-webkit-keyframes copied {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes copied {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
