.col-xs--pc-10 {
  float: left;
  width: 10%;
  padding-left: 5px;
}

.col-xs--pc-14 {
  float: left;
  width: 14%;
  padding-left: 5px;
}

.color-movement {
  font-size: 14px;
}

.article-label {
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
}
