.form-container {
    min-width: 750px;
}

.mat-btn-blue {
    margin: 0 0 8px 8px;
}

// .checkbox.checkbox-primary.pull-left {
//     padding-top: 0;
//     margin-left: 2px;
//     margin-right: 8px;
// }

.auto-group {
    label {
        margin-right: 5px;
        line-height: 15px;
    }
}
.opacity-0 {
    opacity: 0;
}