dotnet-run.bat
xena_start.bat

.vs/

src/XenaUI/obj
src/XenaUI/obj/*
src/XenaUI/obj/project.asset.json

*.lock
*.ide
*.ide-shm
*.ide-wal
*.[Cc]ache
/obj/
*.xml
*.props
*.nuget.props
*.nuget.targets
*.nuget.cache
/Debug/
*.user
src/XenaUI/bin/
src/XenaUI/package-lock.json
.idea/XenaSource-Git.iml
.idea/
src/XenaUI/Logs/
