.form-container {
  padding: 10px 0 0 0 !important;
  margin-top: 0 !important;
  height: 100%;
}

.form-horizontal .form-group label {
  text-align: left;
  margin-bottom: 5px;
}

.max-width {
  max-width: 200px;
  padding-left: 0 !important;
  padding-right: 10px;
}

.max-width-330px {
  max-width: 330px;
}

.qty-group {
  min-width: 220px;
}

.width-35px {
  width: 35px;
}

.width-80px {
  width: 80px;
}

.margin-01 {
  margin: 0 5px;
}

.margin-top-22px {
  margin-top: 22px;
}

.margin-top-7px {
  margin-top: 7px;
}

.xn__form-header {
  margin-top: 20px;
  padding-right: 80px;
}

.full-height-minus-69px {
  height: calc(100% - 69px);
}

.stock-correction-grid {
  margin-top: -43px;
  height: calc(100% - 25px);
}

.btn-add-item {
  margin-top: 22px;
  height: 32px;
}

.group-price {
  margin-left: -15px !important;
}

.grid-item-qty {
  font-weight: bold;
}
