<form
  [formGroup]="form"
  [ngClass]="{
    'edit-form-mode': editFormMode,
    'edit-field-mode': editFieldMode,
    'edit-language-mode': editLanguageMode
  }"
  *ngIf="form"
  class="w-f form-horizontal"
>
  <div
    *ngFor="let column of controlColumnList; let i = index"
    class="wf-c"
    [style.width.%]="column.width"
    attr.elId="{{ column.key }}"
  >
    <wf-column
      [column]="column"
      [dataStyle]="dataStyle"
      [formStyle]="formStyle"
      [importantFormStyle]="importantFormStyle"
      [fieldStyle]="fieldStyle"
      [dataSource]="dataSource"
      [inlineLabelStyle]="inlineLabelStyle"
      [isDesignWidgetMode]="isDesignWidgetMode"
      [minLabelWidth]="minLabelWidth"
      [labelTextAlign]="labelTextAlign"
      [dataTextAlign]="dataTextAlign"
      [editFormMode]="editFormMode"
      [isSAVLetter]="isSAVLetter"
      [form]="form"
      [controlWidth]="controlWidth"
      [isDialogMode]="isDialogMode"
      [globalProperties]="globalProperties"
      [widgetProperties]="widgetProperties"
      [widgetFormType]="widgetFormType"
      [listVirtualElementNames]="listVirtualElementNames"
      [isEditingLayout]="isEditingLayout"
      [canDelete]="controlColumnList.length > 1"
      [dragName]="dragName"
      [index]="i"
      [isDisableDragToPanel]="isDisableDragToPanel"
      [layoutTypeDragging]="layoutTypeDragging"
      [isIncludeLinebreak]="isIncludeLinebreak"
      [isControlPressing]="isControlPressing"
      [isDragging]="isDragging"
      [backgroundColor]="backgroundColor"
      [backgroundImage]="backgroundImage"
      [errorShow]="errorShow"
      [isSettingDialog]="isSettingDialog"
      [isDuplicatedDialogForm]="isDuplicatedDialogForm"
      [isJustDragged]="isJustDragged"
      [isLastItem]="i === controlColumnList.length - 1"
      [designColumnsOnWidget]="designColumnsOnWidget"
      (onEditFieldAction)="onEditField($event)"
      (onShowCreditCardSelectionAction)="onShowCreditCardSelection($event)"
      (onCancelEditFieldAction)="onCancelEditField($event)"
      (onEnterKeyPressAction)="onEnterKeyPress($event)"
      (onUpdateValueAction)="onUpdateValue($event)"
      (onDeleteColumnAction)="onDeleteColumnHandler($event)"
      (onDeletePanelAction)="onDeletePanelHandler($event)"
      (onDeleteLineBreakAction)="onDeleteLineBreakHandler($event)"
      (onRightClickAction)="onRightClickdHandler($event)"
      (onRightClickControlAction)="onRightClickControlHandler($event)"
      (onSavePanelTitleAction)="onSavePanelTitleHandler($event)"
      (onChangedAction)="onChangedHandler()"
      (onMouseUpAction)="onMouseUpHandler()"
      (callRenderScrollAction)="callRenderScrollHandler()"
      (onColumnResizeEndAction)="onColumnResizeEndHandler($event)"
      (onPanelResizeEndAction)="onPanelResizeEndHandler()"
      (onFieldResizeEndAction)="onFieldResizeEndHandler()"
      (onLineBreakResizeEndAction)="onLineBreakResizeEndHandler()"
      (onMouseDownAction)="onMouseDownHandler($event)"
      (onToggleAction)="onToggleHandler($event)"
      (onMenuClickAction)="onMenuClickHandler($event)"
      (onSettingDialogAction)="openSettingDialog($event)"
      (onMenuMouseOverAction)="onMenuMouseOverHandler($event)"
      (changeConfigAction)="changeConfigHandler($event)"
      (onApplyAction)="onApplyControlStyleHandler($event)"
    >
    </wf-column>
  </div>
</form>
<setting-dialog
  #settingDialogComponent
  *ngIf="isSettingDialog && isEditingLayout"
  [showControlDialog]="isSettingDialog"
  (showButtonToggle)="closeSettingDialog($event)"
  (onChangeAction)="onChangedSettingHandler($event)"
  (onApplyAction)="onApplyHandler($event)"
  [control]="settingControl"
>
</setting-dialog>
