<note-control
  [formControl]="notes"
  [settingModel]="settingModel"
  [currentUser]="currentUser"
  [noteFormDataAction]="noteFormDataAction"
  [idPerson]="idPerson"
  [globalProperties]="globalProperties"
  [properties]="properties"
  (onShare)="shareForm($event)"
  (onDownload)="downloadForm($event)"
  (onPrint)="printForm($event)"
  (onFocusForm)="setFocusOCRScan($event)"
  (onRemove)="onRemove($event)"
  (onUpadteEditingWidget)="onUpadteEditingWidget($event)"
></note-control>
<email-note
  *ngIf="isShowEmailBox"
  [idMainDocument]="idDocument"
  (onClose)="isShowEmailBox = false"
></email-note>
