<div class="auth__main">
  <div class="auth__block">
    <div *ngIf="!emailIsSent" class="forgot-password">
      <form
        name="form"
        (ngSubmit)="f.form.valid && submit()"
        #f="ngForm"
        novalidate
      >
        <i class="fa fa-question-circle top-icon"></i>
        <div
          class="col-xs-12 no-padding form-group form-control__relative"
          [ngClass]="{ 'has-error': f.submitted && !loginName.valid }"
        >
          <input
            type="text"
            class="form-control"
            name="loginName"
            [(ngModel)]="model.loginName"
            placeholder="LoginName"
            #loginName="ngModel"
            required
            autocomplete="off"
          />
          <div class="input-group-addon">
            <i class="fa fa-user"></i>
          </div>
          <div
            *ngIf="userIsNotExisted"
            class="form-group user-authentication__fail"
          >
            LoginName/Email is not existed, please refresh and try again.
          </div>
        </div>
        <div class="col-xs-12 no-padding padding-top--sd">
          <button
            [disabled]="loading"
            class="mat-btn-blue pull-right"
            mat-raised-button
          >
            <span class="fa fa-arrow-circle-o-up push-icon"></span>
            <span class="bt-t-i login-text">SUBMIT</span>
          </button>
        </div>
        <div class="form-group col-xs-12 no-padding line-separate">
          <hr />
        </div>
        <div class="form-group">
          <a [routerLink]="[loginUrl]" class="pull-right link-to"
            >Back to login page</a
          >
        </div>
      </form>
    </div>
    <div *ngIf="emailIsSent">
      <i class="fa fa-info-circle top-icon"></i>
      <h4>
        A new reset password link has sent to your email. Please do with email
        instruction to update your new password.
      </h4>
      <div class="form-group col-xs-12 no-padding line-separate">
        <hr />
      </div>
      <div class="form-group">
        <a [routerLink]="[loginUrl]" class="pull-right link-to"
          >Go to login page</a
        >
      </div>
    </div>
  </div>
</div>
