<?xml version="1.0" encoding="utf-8" ?>
<log4net>
    <logger name="SQL">
        <appender-ref ref="SQL" />
    </logger>
    <appender name="SQL" type="log4net.Appender.RollingFileAppender">
        <file value="Logs\\SQL\log.txt" />
        <encoding value="utf-8" />
        <appendToFile value="true" />
        <rollingStyle value="Size" />
        <maxSizeRollBackups value="100" />
        <maximumFileSize value="5MB" />
        <staticLogFileName value="true" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
        </layout>
        <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>
    <logger name="LogTime">
        <appender-ref ref="LogTime" />
    </logger>
    <appender name="LogTime" type="log4net.Appender.RollingFileAppender">
        <file value="Logs\\LogTime\log.txt" />
        <encoding value="utf-8" />
        <appendToFile value="true" />
        <rollingStyle value="Size" />
        <maxSizeRollBackups value="100" />
        <maximumFileSize value="5MB" />
        <staticLogFileName value="true" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
        </layout>
        <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>
    
    <!--<appender name="DebugAppender" type="log4net.Appender.DebugAppender" >
        <file value="Logs\\Debug\log.log" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
        </layout>
        <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>-->
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
        <file value="Logs\\log.log" />
        <encoding value="utf-8" />
        <appendToFile value="true" />
        <maximumFileSize value="1MB" />
        <maxSizeRollBackups value="10" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date %5level %logger.%method [%line] - MESSAGE: %message%newline %exception" />
        </layout>
        <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>
    
    <logger name="ES">
        <appender-ref ref="ES" />
    </logger>
    <appender name="ES" type="log4net.Appender.RollingFileAppender">
        <file value="Logs\\ES\\log.txt" />
        <encoding value="utf-8" />
        <appendToFile value="true" />
        <rollingStyle value="Size" />
        <maxSizeRollBackups value="100" />
        <maximumFileSize value="2MB" />
        <staticLogFileName value="true" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
        </layout>
        <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>

    <logger name="api">
        <appender-ref ref="api" />
    </logger>
    <appender name="api" type="log4net.Appender.RollingFileAppender">
        <file value="Logs\\log_api.txt" />
        <encoding value="utf-8" />
        <appendToFile value="true" />
        <rollingStyle value="Size" />
        <maxSizeRollBackups value="100" />
        <maximumFileSize value="2MB" />
        <staticLogFileName value="true" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
        </layout>
        <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>

    <root>
        <level value="DEBUG" />
        <!--<appender-ref ref="DebugAppender" />-->
        <!--<appender-ref ref="RollingFile" />-->
    </root>
</log4net>
