.nv-file-over {
    border: dotted 3px green !important;
}

.well {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.new-size {
    width: 60px;
}
.my-drop-zone {
	position: absolute;
	z-index: 1;
	left: 0px;
	top:0px;
	right:0px;
	bottom: 0px;
}