<div class="reference-inormation-container">
    <div class="customer-address col-sm-3">
        <div class="customer-address-detail reference-box"></div>
    </div>

    <div class="total col-sm-3">
        <div class="total-detail reference-box"></div>
    </div>

    <div class="scanning-status col-sm-3">
        <div class="scanning-status-detail reference-box"></div>
    </div>

    <div class="card-status col-sm-3">
        <div class="card-status-detail reference-box"></div>
    </div>
</div>
