<div class="article-grid">
    <xn-ag-grid
        #agGrid
        [id]="gridId"
        [dataSource]="dataSource"
        [isShowedHeader]="false"
        [treeViewMode]="true"
        [rowGrouping]="rowGrouping"
        [readOnly]="true"
        [articleInvoice]="true"
        [isInWidget]="true"
        [gridStyle]="gridStyle"
        [globalProperties]="globalProperties"
        [widgetProperties]="widgetProperties"
        [showTotalRow]="showTotalRow"
        [currentModule]="currentModule"
        [enterMovesDown]="enterMovesDown"
        [isShowToolPanels]="isShowToolPanels"
        [allowSetColumnState]="allowSetColumnState"
        [columnsLayoutSettings]="columnsLayoutSettings"
        [allowTranslation]="allowTranslation"
        [autoSaveColumnsLayout]="false"
        [pivoting]="pivoting"
        [columnFilter]="columnFilter"
        [fitWidthColumn]="fitWidthColumn"
        [rowBackground]="rowBackground"
        [rowBackgroundGlobal]="rowBackgroundGlobal"
        [borderRow]="borderRow"
        [background]="background"
        [backgroundImage]="backgroundImage"
        [isEditting]="false"
        [suppressContextMenu]="false"
        [isArticleInvoiceHasError]="_isHasError"
        (onRowGroupPanel)="handleRowGrouping($event)"
        (changeColumnLayout)="onChangeColumnLayoutHandler($event)"
        (onQuantityArticleInvoice)="handleQuantityArticleInvoiceChange($event)"
        (onActionTranslateDialog)="openTranslateDialog($event)"
        (cellValueChanged)="onCellValueChanged($event)"
        (hasValidationError)="handleValidationGrid($event)"
    >
    </xn-ag-grid>
</div>
<widget-module-info-translation
    *ngIf="isRenderWidgetInfoTranslation"
    [translateTextGridId]="'c0013e96-2167-4278-a300-58276a7166e5'"
    [combinationTranslateMode]="combinationTranslateMode"
    [isGlobalSearch]="true"
    (onHide)="onHiddenWidgetInfoTranslation($event)"
    [data]="dataSource"
    (isCompletedRender)="reattach()"
    #widgetInfoTranslation
></widget-module-info-translation>
