.media-code-button {
  width: 70px;
}

.media-code-container,
.media-code-form-container {
  position: relative;
}

.media-code-import {
  height: calc(100% - 211px);
  position: relative;
}

.media-code-import-content {
  height: calc(100% - 10px);
  position: relative;
}

.m-b-30 {
  margin-bottom: 30px;
}
