
.xn-tab--general, .payment-container {
    padding: 10px;
}

.add-more {
    font-size: 20px;
    padding: 10px;
    color: #3c8dbc;
}

.tab-header-container .glyphicon-remove-circle {
    margin-right: -22px;
    margin-top: -30px;
    float: right;
    background-color: #fff;
    cursor: pointer;
}

.tab-header-container .glyphicon-remove-circle:hover {
    color: #ff0000;
}

.article-table {
    padding: 10px;
}
