:host ::ng-deep .wj-numeric {
    padding: 7px;
}

.horizontal-line {
    padding-top: 15px;
    opacity: 0.3;
}

.fix-width-control {
    width: 120px;
}

.no-border-radius {
    border-radius: 0;
}

.condition-title {
    position: absolute;
}

.left-filter-content {
    position: absolute;
    top: 40%;
    width: 50px;
    text-align: center;
}

.right-filter-content {
    padding-left: 30px;
}

.padding-top-25 {
    padding-top: 25px;
}
