.m {
  height: 100%;
  background: #fff;
}

.g {
  height: calc(100% - 60px);
}

button {
  width: 155px;
  height: 32px;
  font-size: 15px;

  i {
    font-size: 25px;
  }

  &.btn-reset {
    width: 100px;
  }

  &.btn-import {
    width: 120px;
    margin-left: 8px;
  }
}

.group-buttons {
  padding: 9px;
}

.group-qty {
  margin-top: 10px;
  font-size: 14px;

  .qty-label {
    width: 115px;
    display: inline-block;
  }

  .qty {
    font-weight: bold;
    font-size: 15px;
  }
}

.customer-business-form {
  margin-top: 20px;

  .input-barcode {
    background-color: #fffbe7;
  }

  .group-save {
    margin-top: 5px;

    .btn-add {
      width: 200px;
      font-size: 15px;
    }
  }
}

:host input.ng-invalid ::ng-deep {
  border: 1px solid #a94442 !important;
}
