<ul class="sub-menu filter-menu filter-menu-top">
    <ng-container *ngIf="isForm">
        <li class="menu-list form">
            <a class="cursor-pointer" (click)="translateForm()"
                ><label-translation
                    [keyword]="'Edit_translate_dropdown__Form'"
                ></label-translation
            ></a>
        </li>
    </ng-container>
    <ng-container *ngIf="isTable">
        <li class="menu-list">
            <a class="cursor-pointer" (click)="translateHeader()"
                ><label-translation
                    [keyword]="'Edit_translate_dropdown__Column_Header'"
                ></label-translation
            ></a>
        </li>
        <li class="menu-list">
            <a class="cursor-pointer" (click)="translateRow()"
                ><label-translation
                    [keyword]="'Edit_translate_dropdown__Data_Row'"
                ></label-translation
            ></a>
        </li>
    </ng-container>
</ul>
