.input-checkbox {
    width: 15px;
}

.fix-width-control {
    width: 120px;
}

.condition-title {
    position: absolute;
}

.left-filter-content {
    position: absolute;
    top: 40%;
    width: 50px;
    text-align: center;
}

.right-filter-content {
    padding-left: 30px;
}

.padding-top-25 {
    padding-top: 25px;
}
