.for-notes {
    height: 148px !important;
    margin-top: -149px !important;
    padding-top: 13px !important;
}

.for-notes i {
    margin-top: 50px;
}

.form-group textarea {
    height: 150px;
}

.form-group label[for="isActive"] {
    padding-top: 0 !important;
    margin-bottom: 3px;
}

.form-container {
    padding-top: 15px;
}

.label-editable-table {
    padding-top: 30px;
}
.ad-payment-account-textarea {
    height: 220px !important;
}
.height-pc-80 {
    height: 80%;
}
