<p-dialog header=""
          [(visible)]="showDialog"
          modal="true"
          positionTop="150"
          responsive="true"
          appendTo="body"
          [resizable]="false"
          [draggable]="false"
          [width]="400"
          [height]="500"
          [contentStyle]="{'padding-bottom': 0, 'padding-top': 0}">
    <p-header>
        <div class="modal-header--information">
            <span class="header-text"><label-translation [keyword]="'ScheduleSettingRunImmediately__Schedule_Setting'"></label-translation></span>
            <button type="button"
                    mat-raised-button
                    class="mat-btn-close-popup"
                    aria-label="Close"
                    (click)="close()">
                <span class="fa fa-fw fa-close"></span>
            </button>
        </div>
    </p-header>
    <div class="col-xs-12  no-padding  height-pc-100  padding-top--md">
        <div class="col-xs-12  no-padding">
            <label class="control-label  col-xs-3  no-padding-left  text-right"><label-translation [keyword]="'ScheduleSettingRunImmediately__Report_time'"></label-translation></label>
            <div class="col-xs-9  no-padding-left">
                <mat-radio-group name="schedule-type-radio"
                                 [(ngModel)]="dateType">
                    <mat-radio-button color="primary"
                                      name="schedule-type-radio"
                                      value="currently"
                                      class="margin-left--sd">
                        <label-translation [keyword]="'ScheduleSettingRunImmediately__Currently'"></label-translation>
                    </mat-radio-button>
                    <mat-radio-button color="primary"
                                      name="schedule-type-radio"
                                      value="rangeDate"
                                      class="margin-left--sd">
                        <label-translation [keyword]="'ScheduleSettingRunImmediately__Range_date'"></label-translation>
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div class="col-xs-12  no-padding  margin-top--sd  schedule-setting-form"
             [ngClass]="{'submitted': (fromGroup && fromGroup['submitted'])}">
            <form [formGroup]="fromGroup"
                  class="form-horizontal"
                  id="fromGroup"
                  novalidate>
                <div class="col-xs-12  no-padding  margin-bottom--sm"
                     [hidden]="dateType == 'currently'">
                    <label class="control-label  col-xs-3  no-padding-left"><label-translation [keyword]="'ScheduleSettingRunImmediately__From_date'"></label-translation></label>
                    <div class="col-xs-9  no-padding">
                        <xn-date-picker #stopDateCtr
                                        [dontShowCalendarWhenFocus]="!dontShowCalendarWhenFocus"
                                        [isRequired]="false"
                                        [format]="globalDateFormat"
                                        formControlName="fromDate">
                        </xn-date-picker>
                        <control-messages [control]="fromGroup.controls['fromDate']"
                                          [showIcon]="false">
                        </control-messages>
                        <div *ngIf="isFromDateGreaterThanToDate" class="alert  alert-danger text-left">
                            <label-translation [keyword]="'ScheduleSettingRunImmediately__From_data_must_be_less'"></label-translation></div>
                    </div>
                </div>
                <div class="col-xs-12  no-padding  margin-bottom--sm"
                     [hidden]="dateType == 'currently'">
                    <label class="control-label  col-xs-3  no-padding-left">
                        <label-translation [keyword]="'ScheduleSettingRunImmediately__To_date'"></label-translation></label>
                    <div class="col-xs-9  no-padding">
                        <xn-date-picker #stopDateCtr
                                        [isRequired]="false"
                                        [dontShowCalendarWhenFocus]="!dontShowCalendarWhenFocus"
                                        [format]="globalDateFormat"
                                        formControlName="toDate">
                        </xn-date-picker>
                        <control-messages [control]="fromGroup.controls['stopDate']"
                                          [showIcon]="false">
                        </control-messages>
                    </div>
                </div>
                <div class="col-xs-12  no-padding">
                    <label class="control-label  col-xs-3  no-padding-left"><label-translation [keyword]="'ScheduleSettingRunImmediately__Email'"></label-translation></label>
                    <div class="col-xs-9  no-padding">
                        <textarea #email
                                  class="form-control  xn-input"
                                  id="email"
                                  name="email"
                                  formControlName="email"
                                  autocomplete="off">
                        </textarea>
                        <control-messages [control]="fromGroup.controls['email']"
                                          [showIcon]="false">
                        </control-messages>
                    </div>
                </div>
                <span class="pull-right">* <label-translation [keyword]="'ScheduleSettingRunImmediately__Send_multiple_email'"></label-translation></span>
                <div class="col-xs-12  no-padding">
                    <label class="control-label  col-xs-3  no-padding-left  margin-top--sd"> <label-translation [keyword]="'ScheduleSettingRunImmediately__Parameter'"></label-translation></label>
                    <div class="col-xs-9  no-padding">
                        <textarea #parameter
                                  class="form-control  xn-input"
                                  id="parameter"
                                  name="parameter"
                                  formControlName="parameter"
                                  autocomplete="off">
                        </textarea>
                    </div>
                </div>

                <div class="col-xs-12  no-padding  margin-bottom--sm"
                     [hidden]="idRepAppService < 14 || dateType == 'rangeDate'">
                    <div class="xn__form-header">
                        <span class="no-margin p-l-postage"><label-translation
                            [keyword]="'ScheduleSettingRunImmediately__Postage_Date'"></label-translation></span>
                    </div>
                    <label class="control-label  col-xs-3  no-padding-left"><label-translation [keyword]="'ScheduleSettingRunImmediately__From_date'"></label-translation></label>
                    <div class="col-xs-9  no-padding">
                        <xn-date-picker #stopDateCtr
                                        [dontShowCalendarWhenFocus]="!dontShowCalendarWhenFocus"
                                        [isRequired]="false"
                                        [format]="globalDateFormat"
                                        formControlName="postageFromDate">
                        </xn-date-picker>
                        <control-messages [control]="fromGroup.controls['postageFromDate']"
                                          [showIcon]="false">
                        </control-messages>
                        <div *ngIf="isFromDateGreaterThanToDate" class="alert  alert-danger text-left">
                            <label-translation [keyword]="'ScheduleSettingRunImmediately__From_data_must_be_less'"></label-translation></div>
                    </div>
                </div>
                <div class="col-xs-12  no-padding  margin-bottom--sm"
                     [hidden]="idRepAppService < 14 || dateType == 'rangeDate'">
                    <label class="control-label  col-xs-3  no-padding-left">
                        <label-translation [keyword]="'ScheduleSettingRunImmediately__To_date'"></label-translation></label>
                    <div class="col-xs-9  no-padding">
                        <xn-date-picker #stopDateCtr
                                        [isRequired]="false"
                                        [dontShowCalendarWhenFocus]="!dontShowCalendarWhenFocus"
                                        [format]="globalDateFormat"
                                        formControlName="postageToDate">
                        </xn-date-picker>
                        <control-messages [control]="fromGroup.controls['postageToDate']"
                                          [showIcon]="false">
                        </control-messages>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button label="Cancel"
                    pbutton=""
                    type="button"
                    mat-raised-button
                    class="mat-btn-red"
                    (click)="close()">
                <span class="bt-t  ui-button-text ui-c"><label-translation [keyword]="'ScheduleSettingRunImmediately__Close'"></label-translation></span>
            </button>
            <button label="Save"
                    pbutton=""
                    mat-raised-button
                    type="button"
                    class="mat-btn-blue"
                    (click)="submit()">
                <span class="bt-t  ui-button-text ui-c"><label-translation [keyword]="'ScheduleSettingRunImmediately__Run_Statistic'"></label-translation></span>
            </button>
        </div>
    </p-footer>
</p-dialog>
