.form-container {
  height: 100%;
}

.double-grid-vertical {
  overflow: hidden;
  height: calc(100% - 150px);
}

.form {
  padding: 15px 0px;
}

.xn-textarea {
  height: 110px;
  resize: none;
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .xn-control-lable {
    text-align: left;
    padding: 0px 0px 4px 0px;
  }
}

@media (min-width: 1200px) {
  .xn-control-lable {
    text-align: right;
    padding: 7px 15px 0px 0px;
  }
}
