<div class="col-xs-12 no-padding campaign-form-container">
  <!-- <app-business-cost-header-form #businessCostHeader
                                   *ngIf="showBusinessCostHeaderForm"
                                   [idSalesCampaignWizard]="idSalesCampaignWizard"
                                   [globalProperties]="globalProperties"
                                   (saveData)="headerFormSaveDataChange($event)"
                                   (outputData)="headerFormDataChange($event)">
    </app-business-cost-header-form>
    <app-business-cost-row-form #businessCostRow
                                [gridId]="gridId"
                                *ngIf="idSalesCampaignWizard && !showBusinessCostHeaderForm"
                                [idBusinessCost]="idSalesCampaignWizard"
                                [headerFormData]="outPutFormHeader"
                                [globalProperties]="globalProperties"
                                (saveData)="rowFormSaveDataChange($event)"
                                (outputData)="rowFormDataChange($event)"
                                (saveBusinessCostRowData)="saveBusinessCostRowData($event)">
    </app-business-cost-row-form> -->
</div>
