<p-dialog
  #pDialogModuleSearch
  *ngIf="showDialog"
  header=""
  [(visible)]="showDialog"
  [styleClass]="dialogStyleClass"
  modal="true"
  width="1200"
  height="500"
  positionTop="150"
  responsive="true"
  appendTo="body"
  [resizable]="isResizable"
  [draggable]="isDraggable"
  [contentStyle]="{ 'padding-bottom': 0, 'padding-top': 0 }"
>
  <p-header>
    <div class="modal-header--information">
      <span class="header-text">{{ headerTitle }}</span>
      <button
        type="button"
        mat-raised-button
        class="mat-btn-close-popup"
        aria-label="Close"
        (click)="close()"
      >
        <span class="fa fa-fw fa-close"></span>
      </button>
      <button
        type="button"
        mat-raised-button
        class="mat-btn-expand-popup"
        *ngIf="!isMaximized"
        (click)="maximize()"
      >
        <span class="fa fa-window-maximize"></span>
      </button>
      <button
        type="button"
        mat-raised-button
        class="mat-btn-collapse-popup"
        *ngIf="isMaximized"
        (click)="restore()"
      >
        <span class="fa fa-window-restore"></span>
      </button>
    </div>
  </p-header>

  <div class="row content-detail">
    <div class="search-box">
      <app-xn-input-debounce
        delayTimer="600"
        placeholder="Search Here"
        [value]="keyword"
        cssClass="gs__search-text-input"
        id="txt-global-search-article"
        [hasSearchButton]="true"
        [isLoading]="isSearching"
        [hasIndicator]="true"
        (onValueChanged)="search($event)"
        (onSearchButtonClicked)="search($event)"
      >
      </app-xn-input-debounce>
    </div>
    <!--<mat-checkbox color="primary" [(ngModel)]="isWithStarStatus">
            Search with *
        </mat-checkbox>-->
    <div class="search-result">
      <gs-result
        #gsResult
        [keyword]="keyword"
        [gridId]="'3ae2f344-b25d-439b-969e-ee095631a8e9'"
        [searchIndex]="searchIndex"
        [isWithStar]="isWithStarStatus"
        [module]="module"
        [dontAllowSearchWhenInit]="true"
        [allowDrag]="allowDrag"
        [treeViewMode]="module && module.idSettingsGUI == 2"
        (onRowClicked)="rowClicked($event)"
        (onRowDoubleClicked)="rowDoubleClicked($event)"
        (onSearchCompleted)="onSearchCompleted($event)"
      >
      </gs-result>
      <!--[allowMasterDetail]="module && module.idSettingsGUI == 2"-->
    </div>
  </div>

  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button
        label="Cancel"
        pbutton=""
        type="button"
        mat-raised-button
        class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
        (click)="ok()"
      >
        <span class="bt-t ui-button-text ui-c"
          ><label-translation
            [keyword]="'Module_Search__Ok'"
          ></label-translation
        ></span>
      </button>
    </div>
  </p-footer>
</p-dialog>
