@import "~sass_files/color.scss";

.de__payment-type__item {
    .de__pt__item__title {
        font-weight: 900;
        float: left;
        margin-top: -14px;
        margin-left: 5px;
        font-size: 15px;
    }

    .de__pt__item__close,
    .de__pt__item__add {
        font-size: 15px;
        float: right;
        margin-top: -12px;
        cursor: pointer;
        margin-right: 3px;

        .fa-times-circle,
        .fa-plus-circle {
            line-height: 10px;
            border-radius: 50%;
        }

        &.disabled {
            cursor: default;
        }
    }

    .form-horizontal {
        padding-bottom: 13px;
        margin-top: 16px;
    }
}

.de__payment-type__item-inline {
    margin: 15px 0;
    background-color: #f7f7f7;
}

.de__payment-type__item-intab {
    padding: 10px 0;
}

.control-label {
    width: 110px;
    float: left;
    padding-right: 5px;
    font-weight: normal;
}

.control-input {
    width: calc(100% - 120px);
    float: left;
}

:host ::ng-deep .input-small-spacing {
    .xn-input {
        padding: 0 4px !important;
    }
}

.control-label--second {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
}

.input-padding-sm-left {
    padding: 0 0 0 5px !important;
}

.no-payment-type {
    margin-top: 7px;
    color: #4c4a4a;
    font-style: italic;
}

.creditCard-options {
    margin-top: -15px;
    margin-bottom: 4px !important;

    .custom-month {
        margin-left: -6px;
        padding: 3px 6px 3px 3px;
        border: 1px solid #eaeaea;
        border-radius: 4px;
        background-color: #f5f5f5;
        border-left: none;
        border-bottom-left-radius: 0;
        float: left;
        height: 31px;

        .xn-input {
            height: 21px;
            width: 45px;
            margin-bottom: 0;
            margin-right: 0;
            margin-top: 0;
            padding-left: 9px;
        }

        .wj-input {
            height: inherit;
        }

        .wj-form-control {
            min-height: 20px;
            height: 20px;
        }

        .lb-month {
            vertical-align: middle;
            margin-left: 2px;
        }
    }

    .group-month {
        padding: 5px 6px 3px 3px;
        border: 1px solid #eaeaea;
        border-radius: 4px;
        margin-right: 8px;
        float: left;
        height: 31px;

        &.custom {
            margin-right: 0;
            border-right: none;
            border-bottom-right-radius: 0;
        }

        &.group0 {
            background-color: #f5f5f5;
        }

        &.group1 {
            background-color: #e3f6fd;
        }
    }
}

.creditCard-amounts {
    margin-top: 4px;

    .input-amount {
        padding-bottom: 10px;
        padding-left: 0;
    }

    .group-amount {
        padding: 3px;
        border: 1px solid #eaeaea;
        border-radius: 4px;
        width: calc((100% - 7px));
        margin: 0 8px 6px 0;
        float: left;

        &.last {
            width: calc((100% - 1px));
            margin-right: 0;
        }

        &.group0 {
            background-color: #f5f5f5;
        }

        &.group1 {
            background-color: #e3f6fd;
        }
    }
}

.cheque-amounts {
    margin-top: 4px;

    .input-amount {
        padding-bottom: 10px;
        padding-left: 0;
    }

    .group-amount {
        padding: 3px;
        border: 1px solid #eaeaea;
        border-radius: 4px;
        height: 40px;
        margin-bottom: 4px;

        &.last {
            width: calc((100% - 1px));
            margin-right: 0;
        }

        &.group0 {
            background-color: #f5f5f5;
        }

        &.group1 {
            background-color: #e3f6fd;
        }

        .control-date {
            width: calc((100% - 43px));
        }

        .buttons {
            position: absolute;
            right: 0;
            top: 4px;

            .fa {
                font-size: 17px;
                cursor: pointer;

                &.fa-plus-circle {
                    color: #337ab7;
                }

                &.fa-minus-circle {
                    color: #eb3d28;
                    margin-right: 2px;
                }

                &.disabled {
                    color: #919191;
                    pointer-events: none;
                }
            }
        }
    }
}

:host .creditCard-amounts ::ng-deep,
:host .cheque-amounts ::ng-deep {
    div.input-group-addon {
        .fa-sum {
            font-size: 11px;
            font-family: Tahoma, "Source Sans Pro", "Helvetica Neue", Helvetica,
                Arial, sans-serif !important;

            &:before {
                content: "" !important;
            }
        }
    }
}

:host .cheque-amounts ::ng-deep {
    .ico-minus {
        .hot-key_suggestion {
            margin-left: -4px;
        }
    }

    .ico-plus {
        .hot-key_suggestion {
            margin-left: 18px;
        }
    }
}

:host .creditCard-options ::ng-deep {
    .mat-radio-group {
        .mat-radio-label {
            margin: 0 !important;
        }

        .mat-radio-label-content {
            padding-left: 2px !important;
        }
    }

    .custom-month {
        .wj-input {
            height: inherit;
        }

        .wj-form-control {
            min-height: 20px;
            height: 20px;
        }
    }
}

:host .xn-select ::ng-deep {
    .disabled {
        opacity: 0.5;
    }
}
