.parked-item-detail {
  padding-left: 15px;
}

.xn-icon__dot_list {
  height: 12px;
}

.next-breadcrumb-item-icon {
  margin-left: 12px;
}

.is-first-breabcrumb-item {
  color: #fbf868;
}

.parked-item-title {
  padding-left: 10px;
}
