<split class="height-pc-100"
       direction="horizontal"
       (dragEnd)="dragEnd($event)"
       [gutterSize]="5"
       #horizontalSplit>
    <split-area [size]="splitterConfig.leftHorizontal"
                [perfect-scrollbar]="perfectScrollbarConfig">
        <xn-ag-grid *ngIf="countryGridData && countryGridData.columns && countryGridData.columns.length"
                    #countryGrid
                    [id]="countryGridId"
                    [dataSource]="countryGridData"
                    [readOnly]="true"
                    [fitWidthColumn]="true"
                    [globalProperties]="globalProperties"
                    [columnsLayoutSettings]="columnsLayoutSettings[countryGridId]"
                    (rowClick)="countrySelectionChanged($event)"
                    (hasValidationError)="hasValidationErrorHandler($event, 'countryGrid')">
        </xn-ag-grid>
    </split-area>
    <split-area [size]="splitterConfig.rightHorizontal"
                [perfect-scrollbar]="perfectScrollbarConfig">
        <xn-ag-grid *ngIf="mediacodeGridData && mediacodeGridData.columns && mediacodeGridData.columns.length"
                    #mediacodeGrid
                    [id]="mediacodeGridId"
                    [columnsLayoutSettings]="columnsLayoutSettings[mediacodeGridId]"
                    [dataSource]="mediacodeGridData"
                    [readOnly]="isMediaCodeGridReadOnly"
                    [isEditting]="!isMediaCodeGridReadOnly"
                    [disabledAll]="isMediaCodeGridDisabled"
                    [globalProperties]="globalProperties"
                    [fitWidthColumn]="true"
                    (cellEditingStarted)="onTableEditStart()"
                    (cellEditingStopped)="onTableEditEnd()"
                    (cellValueChanged)="onTableEditSuccess(); onMediacodeGridEditEnded($event)"
                    (hasValidationError)="hasValidationErrorHandler($event, 'mediacodeGrid')">
        </xn-ag-grid>
    </split-area>
</split>
