.fa {
  font-size: 19px;
  margin-left: 2px;
  margin-right: 2px;
}

.quantity {
  width: calc(100% - 30px) !important;
}

.disabled > input {
  pointer-events: none;
  cursor: not-allowed;
  background: #ddd;
}

input {
  text-align: center;
}
