<div class="content grid-master-detail">
    <xn-ag-grid
        #agGridComponent
        [id]="gridId"
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        [suppressContextMenu]="false"
        [dataSource]="dataResult"
        [autoSelectCurrentRowAfterChangingData]="false"
        [preventAutoSelectFirstRow]="true"
        [suppressHorizontalScroll]="true"
        [globalProperties]="globalProperties"
        [parentInstance]="parentInstance"
        [headerHeight]="0"
        [setDeselectAll]="isDeselectAllRow"
        (rowClick)="gridRowClick($event)"
        (rowDoubleClicked)="gridRowDoubleClicked($event)"
        (mousedown)="gridMousedown($event)"
        (mouseup)="gridMouseup($event)"
        (keydown)="gridKeydown($event)"
        (onDataAction)="gridFoundInOnIconClick($event)"
    >
    </xn-ag-grid>
</div>
