.main-header {
    display: flex;

    .module-info {
        min-width: 34px;
        height: 100%;
    }

    .build-version {
        position: absolute;
        top: 0px;
        left: 0px;
        line-height: 10px;
        font-size: 10px;
        z-index: 1000;
    }

    .logo {
        height: 53px;
        position: relative !important;
        z-index: 99999 !important;
        width: auto !important;
        min-width: 230px;
    }

    .module {
        overflow: visible !important;
        display: flex;
        flex: 1;
        padding: 0 10px;

        a {
            color: #fff;
        }

        a:hover,
        a:active,
        a:focus,
        li:hover,
        li:active,
        li:focus {
            background: rgba(0, 0, 0, 0.1);
            color: #f6f6f6;
        }

        .title {
            float: left;
            height: 100%;
        }

        .nav .open > a,
        .nav .open > a:hover,
        .nav .open > a:focus {
            background: inherit;
        }
    }

    .user-setting,
    .sub-module {
        min-height: 52px;
    }

    breadcrumb {
        flex: 1;
        display: flex;
        align-items: center;
    }

    .navbar {
        margin-left: 0;
    }
}

/*.main-header .module-info {
    min-width: 34px;
    height: 100%;
}

.main-header .build-version {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 10px;
    font-size: 10px;
    z-index: 1000;
}*/

@media (min-width: 768px) {
    :host-context(.sidebar-mini.sidebar-collapse) .main-header .logo {
        width: auto !important;
        position: relative !important;
        z-index: 99999 !important;
        width: auto !important;
        min-width: 230px !important;
    }
}

/*@media (min-width: 768px) {
    :host-context(.sidebar-mini.sidebar-collapse) .main-header .navbar {
        margin-left: 230px;
    }
}*/

@media (min-width: 768px) {
    .main-header .module-info {
        margin-left: -10px;
    }
}

/*.main-header .logo {
    height: 53px;
    position: relative !important;
    z-index: 99999 !important;
    width: auto !important;
    min-width: 230px;
}

.main-header .module {
    overflow: visible !important;
    display: flex;
    flex: 1;
}*/

/*.main-header .module a:hover,
.main-header .module a:active,
.main-header .module a:focus {
    background: rgba(0, 0, 0, 0.1);
    color: #f6f6f6;
}

.main-header .module li:hover,
.main-header .module li:focus,
.main-header .module li:active {
    background: rgba(0, 0, 0, 0.1);
    color: #f6f6f6;
}*/

/*.main-header .module {
    padding: 0 10px;
}

.main-header .module a {
    color: #fff;
}*/

/*.main-header .user-setting,
.main-header .sub-module {
    min-height: 52px;
}*/

.navbar-nav > li > a {
    line-height: 15px;
}

/*.main-header .module .title {
    float: left;
    height: 100%;
}*/

/*.main-header .module .nav .open > a,
.main-header .module .nav .open > a:hover,
.main-header .module .nav .open > a:focus {
    background: inherit;
}*/

li.disabled {
    cursor: not-allowed;
    pointer-events: none;
}

a.display-none {
    display: none !important;
}

.search-box {
    padding-right: 20px;

    input {
        margin: 8px 0px 8px 0;
        border-radius: 3em;
        width: 300px;
        padding-right: 55px;
    }

    .search-box_icon {
        position: absolute;
        top: 10px;
        right: 22px;
    }
}

.mat-mini-fab, .mat-icon-button {
    width: 30px;
    height: 30px;
}

.mat-icon-button {
    line-height: 20px;
}

:host .mat-mini-fab ::ng-deep .mat-button-wrapper {
    padding: 0;
}

.clear-text {
    font-size: 16px !important;
    color: #989090;
}

.mat-button {
    min-width: 0px;
    height: 53px;
    padding-left: 15px;
    padding-right: 15px;
}

.parked-item-detail {
    padding-left: 15px;

    .xn-icon__dot_list {
        height: 12px;
    }

    .parked-item-title {
        padding-left: 10px;
        color: #fbf868;
    }
}

.dropdown-menu {
    border: none;
    min-width: 0;
    padding: 0;
    margin: 0;
    box-shadow: none;
}

.xn-feedback-hidden {
    opacity: 0;
    pointer-events: none;
}

.margin-right-20vw {
    margin-right: 20vw;
}

.project-status-container {
    .panel-body {
        padding: 1px 20px;
    }

    .status-info-container {
        h4 {
            font-weight: bold;
            font-size: 12px;
        }

        h4.blue-text {
            color: #3c8dbc;
        }

        h4.green-text {
            color: #2E7D32;
        }
    }
}
