<div class="auth__main">
  <div class="auth__block">
    <form
      name="form"
      (ngSubmit)="f.form.valid && submit()"
      #f="ngForm"
      novalidate
    >
      <i class="fa fa-info-circle top-icon"></i>
      <div
        class="col-xs-12 no-padding form-group"
        [ngClass]="{ 'has-error': f.submitted && !oldPassword.valid }"
      >
        <input
          type="password"
          class="form-control"
          name="oldPassword"
          [(ngModel)]="model.oldPassword"
          placeholder="Old Password"
          #oldPassword="ngModel"
          required
        />
        <span
          class="glyphicon glyphicon-lock form-control__right-icon form-control__right-icon--auth"
        ></span>
      </div>
      <div
        class="col-xs-12 no-padding form-group"
        [ngClass]="{ 'has-error': f.submitted && !newPassword.valid }"
      >
        <input
          type="password"
          class="form-control"
          name="newPassword"
          [(ngModel)]="model.newPassword"
          placeholder="New Password"
          newPassword
          #newPassword="ngModel"
          (keyup)="passwordKeyPess()"
          required
        />
        <span
          class="glyphicon glyphicon-lock form-control__right-icon form-control__right-icon--auth"
        ></span>
      </div>
      <div
        class="col-xs-12 no-padding form-group"
        [ngClass]="{ 'has-error': f.submitted && !reNewPassword.valid }"
      >
        <input
          type="password"
          class="form-control"
          name="reNewPassword"
          [(ngModel)]="model.reNewPassword"
          placeholder="Re-type Password"
          #reNewPassword="ngModel"
          (keyup)="passwordKeyPess()"
          required
        />
        <span
          class="glyphicon glyphicon-lock form-control__right-icon form-control__right-icon--auth"
        ></span>
      </div>
      <div
        *ngIf="!passwordIsMatched || !passwordIsCorrect"
        class="col-xs-12 no-padding form-group user-authentication__fail"
      >
        <span *ngIf="!passwordIsCorrect"
          >Password is not correct the password rule</span
        >
        <span *ngIf="passwordIsCorrect && !passwordIsMatched"
          >Password is not match</span
        >
      </div>
      <div
        *ngIf="updatePassswordSuccess"
        class="col-xs-12 no-padding form-group user-authentication__success"
      >
        <span>Updating password is successed</span>
        <span>Back to <a [routerLink]="[loginUrl]">sign in</a> page</span>
      </div>
      <div
        *ngIf="updatePassswordFailed"
        class="col-xs-12 no-padding form-group user-authentication__fail"
      >
        <span>Updating password is failed, please try again.</span>
      </div>
      <div class="col-xs-12 no-padding padding-top--sd">
        <button
          [disabled]="loading"
          class="mat-btn-blue pull-right"
          mat-raised-button
        >
          <span class="fa fa-arrow-circle-o-up push-icon"></span>
          <span class="bt-t-i login-text">SUBMIT</span>
        </button>
      </div>
      <div class="form-group col-xs-12 no-padding line-separate">
        <hr />
      </div>
      <div class="form-group">
        <a [routerLink]="[homeUrl]" class="pull-right link-to"
          >Go to home page</a
        >
      </div>
      <div
        class="col-sm-12 col-md-12 col-lg-12 col-xs-12 no-padding user-authentication__notice"
      >
        <p>
          Specifies the user password the value can't be null. Password must
          match the following security policies:
        </p>
        <ul>
          <li>Minimum 8 characters</li>
          <li>At least 1 Uppercase Alphabet</li>
          <li>At least 1 Lowercase Alphabet</li>
          <li>At least 1 Number</li>
          <li>At least one special</li>
        </ul>
      </div>
    </form>
  </div>
</div>
