<app-xn-double-page-view-horizontal *ngIf="isHorizontal"
                                    [data]="split.Items"
                                    [isOrderDataEntry]="isOrderDataEntry"
                                    [isActivated]="isActivated"
                                    [tabID]="tabID">
</app-xn-double-page-view-horizontal>

<app-xn-double-page-view-vertical *ngIf="isVertical"
                                  [data]="split.Items"
                                  [isOrderDataEntry]="isOrderDataEntry"
                                  [isActivated]="isActivated"
                                  [tabID]="tabID">
</app-xn-double-page-view-vertical>
